* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    color: #aebac1;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: none;
}

.container.active {
    display: flex;
}

.left {
    background-color: #111B21;
    border-right: 1px solid rgba(208, 211, 212, 0.15);
    flex-basis: 45%;
    position: relative;
}

@media screen and (max-width:800px) {
    .left {
        flex-basis: 80%;
    }
}

.header {
    background-color: #202C33;
    display: flex;
    height: 60px;
    padding: 10px 16px;
    width: 100%;
}

.user-img-container {
    flex-grow: 2;
    overflow: hidden;
}

.user-img {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
}

.btn-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.btn-container li {
    list-style: none;
}

.btn {
    background-color: transparent;
    border: none;
    color: #aebac1;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    padding: 5px;
    width: 40px;
}

.menu {
    position: relative;
    --clip: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.menu.active {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-nesting {
    background-color: #202C33;
    clip-path: var(--clip);
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 20px;
    transform: translateY(100%);
    transition: all .3s ease;
    width: max-content;
}

.menu__item {
    cursor: pointer;
    margin: 10px 0;
    transition: color 200ms ease;
}

.menu__item:hover {
    color: #fff;
}

.form-container {
    border-bottom: 1px solid rgba(208, 211, 212, 0.15);
    padding: 8px 16px;
    position: relative;
}

.input {
    border: none;
    border-radius: 4px;
    color: white;
    width: 100%;
}

.input:focus {
    outline: none;
    color: white;
}

.search {
    background-color: #202C33;
    height: 2.2rem;
    padding-left: 65px;
}

.form-container .btn {
    font-size: 14px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.preview {
    display: flex;
    flex-direction: column;
    transition: opacity 200ms ease;
}

.chat-list-preview {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.chat-list-preview::-webkit-scrollbar {
    width: 8px;
}

.chat-list-preview::-webkit-scrollbar-thumb {
    background-color: #374045;
}

.chat-preview {
    display: flex;
    height: 70px;
    width: 100%;
}

.chat-preview:hover {
    background-color: #23323b;
}

.chat-preview__img {
    padding: 10px 15px;
}

.chat-preview__details {
    border-bottom: 1px solid rgba(208, 211, 212, 0.15);
    cursor: pointer;
    padding: 10px 15px 10px 0;
    width: 100%;
}

.chat-preview__details>div {
    display: flex;
    justify-content: space-between;
}

.name {
    color: white;
    font-size: 17px;
}

.time {
    font-size: 12px;
}

.message {
    color: white;
    font-size: 14px;
}

.icon {
    font-size: 15px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.profile-details__show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}

.profile-details {
    display: flex;
    flex-direction: column;
    transition: opacity 200ms ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0; */
    /* pointer-events: none; */
}

.profile-details .header {
    align-items: flex-end;
    justify-content: flex-start;
    height: 100px;
}

.profile__title {
    font-size: 19px;
    font-weight: 600;
    margin: 8px 15px;
}

.profile-img {
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
}

.profile-img figure {
    border-radius: 50%;
    position: relative;
}

.profile-img__hover {
    align-items: center;
    background-color: rgb(37, 48, 54, 0.6);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 200ms ease;
    top: 0;
    visibility: hidden;
}


/* @media screen and (max-width:800px) {
    .profile-img {
        height: 150px;
    }
} */

.profile-img figure:hover>.profile-img__hover {
    opacity: 1;
    visibility: visible;
    transition: all 200ms ease;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.info label {
    color: rgb(159, 12, 196);
    font-size: 14px;
}

.edit-info {
    border-bottom: 1px solid #0b141a;
    position: relative;
}

.edit-info .btn {
    font-size: 14px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10000;
    /* transition: all 200ms ease; */
}

.textarea {
    background-color: #111B21;
    border: none;
    color: white;
    font-size: 18px;
    height: 30px;
    resize: none;
    width: 100%;
}

.textarea:focus {
    outline: none;
}

.chat-container {
    background-color: #0b141a;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chat {
    justify-content: space-between;
}

.chat-contact {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.chat-contact .name {
    font-weight: bold;
    margin: 0 15px;
}

.chat-message {
    align-items: center;
    background-color: #202C33;
    display: flex;
    height: 60px;
    padding: 10px 16px;
    width: 100%;
}

.input-message {
    background-color: #2A3942;
    padding: 16px;
    margin: 16px 10px;
    height: 35px;
    width: 100%;
}

.chat-content {
    height: 100%;
}

.container.auth.active {
    background-color: #0b141a;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}


/* .modal {
    display: none;
} */

.modal {
    background-color: #202C33;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(92, 92, 92);
    height: 60vh;
    min-width: 20vw;
    overflow: hidden;
}

.auth-title {
    display: flex;
    width: 200%;
}

.auth-title div {
    width: 50%;
    transition: margin .6s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.auth-title div h3 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}

.auth-title.s-register .login-title {
    margin-left: -50%;
}

.auth-form-container {
    width: 100%;
    overflow: hidden;
}

.toggle-control {
    border: 1px solid #374045;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.toggle-control .toggle {
    color: #aebac1;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.toggle-control .toggle-tab {
    background-color: rgb(159, 12, 196);
    border-radius: 10px;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: 0;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle-control.s-register .toggle-tab {
    left: 50%;
}

.toggle-control.s-register .toggle-register {
    color: #fff;
}

.toggle-control .toggle-login {
    color: #fff;
}

.toggle-control.s-register .toggle-login {
    color: #aebac1;
}

.auth-form-inner {
    display: flex;
    width: 200%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    transition: margin .6s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.login.s-register {
    margin-left: -50%;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input .input {
    background-color: transparent;
    border-bottom: 2px solid #374045;
    border-radius: 0;
    text-align: center;
    transition: border-bottom 200ms ease-in;
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-input .input:focus {
    border-bottom: 2px solid rgb(159, 12, 196);
    transition: border-bottom 200ms ease-in;
}

.btn-auth {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(159, 12, 196);
    color: #fff;
}

.btn-auth:hover {
    background-color: rgba(159, 12, 196, 0.6);
}